input:hover {
  box-shadow: 0 0 5px seagreen;
  margin: -1px;
  border: 2px solid seagreen;
}

textarea:hover {
  box-shadow: 0 0 5px seagreen;
  margin: -1px;
  border: 2px solid seagreen;
}

.title {
  font-weight: bold;
}

.add-comment {
  margin: 20px 0px;
}

.add-comment-body:hover {
  margin: 9px -1px;
}

.add-comment-body {
  margin: 10px 0px;
}

.submit-comment {
  margin: 10px 0px 20px;
}

.hero-image {
  height: 200px;
  width: 100%;
  display: block;
}

.body {
  padding: 0px 10px 0px;
}

.comment-name {
  font-weight: bold;
}