.title {
  font-weight: bold;
}

.add-comment {
  margin: 20px 0px;
}

.submit-comment {
  margin-bottom: 20px
}

.hero-image {
  height: 200px;
  width: 100%;
  display: block;
}

.body {
  text-align: left;
  padding: 0px 10px 0px;
}

.comment-name {
  font-weight: bold;
}