.add-post {
  position: absolute;
  top: 8px;
  right: 0;
  width: 200px;
  z-index: 0;
}

.moveDown {
  top: 70px;
}

.flash {
  animation: close ease 3.5s normal forwards;
  align-items: center;
  z-index: 1;
}

@keyframes close {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  .add-post {
    position: relative;
    width: 50%;
  }
  .moveDown {
    top: 0;
  }
}